<section class="register">
	<form name="myform" 
		ng-submit="register()" novalidate> <!-- 'novalidate' will disable html default validation-->
		<h1>Registraion</h1>

		<input type="firstname" name="firstname" placeholder="First Name" autofocus
			ng-model="user.firstname" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.firstname.$invalid && myform.firstname.$touched">
			Frist Name required</p> <!-- check out other angular formControllers-->

		<input type="lastname" name="lastname" placeholder="Last Name" autofocus
			ng-model="user.lastname" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.lastname.$invalid && myform.lastname.$touched">
			Last Name required</p> <!-- check out other angular formControllers-->

		<input type="email" name="email" placeholder="Email" autofocus
			ng-model="user.email" ng-required="true">
		<p class="error validationerror" 
			ng-show="myform.email.$invalid && myform.email.$touched">
			Must be a valid email</p> <!-- check out other angular formControllers-->

		<input type="password" name="password" placeholder="Password" autofocus
			ng-model="user.password" ng-requried="true">
		<p class="error validationerror" 
			ng-show="myform.email.$invalid && myform.password.$touched">
			Enter the password</p>

		<button type="submit" class="btn" 
			ng-disabled="myform.$invalid">Register</button>

	</form>
</section>